body {
  margin: 0;
  padding: 0;
  background: #000;
  background-color: hsl(30, 54%, 90%);
}
.outercard {
  background: #ffffff;
  width: 650px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
}
.imgFrame {
  max-width: 100%;
  height: auto;
  background: none;
  padding: 20px;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: contain; /* Ensure image maintains proportions */
  border-radius: 10px;
  display: block; /* Remove any extra space below image */
}

#recipe_titleH1 {
  margin-left: 20px;
  font-family: "Young Serif", serif;
  font-weight: 300;
  margin-bottom: 10px;
}
.recipe_titleOverview {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.preparationCard {
  background: hsl(330, 100%, 98%);
  margin: 20px;
  border-radius: 7px;
}
#PreparationH1 {
  color: hsl(332, 51%, 32%);
  padding: 20px;
  margin-bottom: 1px;
}
.bullet_pointer {
  margin-top: 1px;
  padding-bottom: 30px;
}
.bullet_pointer li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 30px;
  color: hsl(14, 45%, 36%);
}
.ingredient {
  margin-left: 20px;
}
.ingredientHearder {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(332, 51%, 32%);
}

.ingredient_li li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  color: hsl(14, 45%, 36%);
}

.InstrutionHearder {
  margin-left: 20px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(332, 51%, 32%);
}
.Instructions_li li {
  list-style-type: decimal; /* Uses numbered bullet points */
  margin-left: 20px; /* Adjust for proper indentation */
  margin-bottom: 10px; /* Reduces space between items */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  color: hsl(14, 45%, 36%); /* Matches the design's color */
}
.nutritionCard {
  nav-down: n;
}
.hutritionHeader {
  margin-left: 20px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(332, 51%, 32%);
}
.nutritionTitle {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 
}
.Calories_table{
  line-height: 30px;
  margin-left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}